.webApp{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

body{
    background-color: #1a1a1a;
}

#trailing-buy-bot-panel{
    right: 1px;
    top: 550px;
}

.checkbox-row input.halfInput{
    width: 50px;
    margin-right: 10px;
}

#test_root_12 #buy-panel{
    right: 1px;
    top: 300px;
}

#test_root_12 #list-order-panel{
    right: 455px;
    top: 0px;
}